---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/227ecb1e776743ef/forecast10day/q/80218.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 19 Feb 2017 20:18:10 GMT
      X-Creationtime:
      - '0.027'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"11:56 AM MST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Sunday\",\n\t\t\"fcttext\":\"Sunshine
        and clouds mixed. High 63F. Winds SSW at 10 to 20 mph.\",\n\t\t\"fcttext_metric\":\"Sun
        and clouds mixed. High 17C. Winds SSW at 15 to 30 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"title\":\"Sunday
        Night\",\n\t\t\"fcttext\":\"Partly cloudy skies. Low 37F. Winds WSW at 10
        to 15 mph.\",\n\t\t\"fcttext_metric\":\"Evening clouds will give way to clearing
        overnight. Low 3C. Winds WSW at 15 to 25 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"clear\",\n\t\t\"icon[...]
